<nav>
	<div>AuthBlog</div>
	<div>
		<a href="/">Home</a>
		<a href="/posts">Posts</a>
		<a href="/u/profile">Profile</a>
		<a href="/auth/signup">Sign Up</a>
		<a href="/auth/login">Log In</a>
		<a href="/auth/logout">Logout</a>
	</div>
</nav>
