<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/_head.ejs") %>
	<body>
		<%- include("./partials/_nav.ejs") %>
		<h1>Sign Up</h1>
		<form id="form">
			<div id="error-container"></div>
			<input
				type="text"
				id="input-username"
				placeholder="Username"
				required="true"
				minlength="3"
				maxlength="20"
			/>
			<input
				type="email"
				id="input-email"
				placeholder="Email"
				required="true"
			/>
			<input
				type="password"
				id="input-password"
				placeholder="Password"
				required="true"
				minlength="8"
			/>
			<button type="submit">Sign Up</button>
		</form>
		<a href="/auth/login">Already have an account? Log in.</a>
	</body>

	<script>
		const form = document.querySelector('#form');
		const usernameInput = document.querySelector('#input-username');
		const emailInput = document.querySelector('#input-email');
		const passwordInput = document.querySelector('#input-password');
		const errorContainer = document.querySelector('#error-container');

		form.addEventListener('submit', async (e) => {
			e.preventDefault();

			errorContainer.textContent = '';

			try {
				const res = await fetch('/auth/signup', {
					method: 'POST',
					body: JSON.stringify({
						username: usernameInput.value,
						email: emailInput.value,
						password: passwordInput.value,
					}),
					headers: {
						'Content-Type': 'application/json',
					},
				});
				const data = await res.json();

				if (data.error) {
					errorContainer.textContent = data.error;
				}

				if (data.user) {
					console.info(`Signed up as: ${data.user}`);
					location.assign('/posts');
				}
			} catch (err) {
				console.error(err);
				errorContainer.textContent = 'Server error';
			}
		});
	</script>
</html>
